<div class="container">
    {{> header}}
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ullam exercitationem doloribus quia eius iusto necessitatibus
        repudiandae consectetur voluptas eum, rerum, explicabo, nesciunt soluta ea quas? Earum commodi consectetur esse.</p>
</div>
{{> footer}}